.custom-shape-divider-bottom-1698438255 .shape-fill {
  fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1698438255 svg {
      width: calc(100% + 1.3px);
      height: 69px;
  }
}